<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="frgHeaderBase">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Bootstrap CORE From bootswatch-->
	<!--  
<link rel="stylesheet" th:href="'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/'+${style}+'/bootstrap.min.css'" /> -->

	<!-- CSS LINKS -->
	<!-- Bootstrap Core CSS -->
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom CSS-->
	<link href="css/sb-admin.css" rel="stylesheet" />
	<!-- Morris Charts CSS-->
	<link href="css/plugins/morris.css" rel="stylesheet" />
	<!-- Custom Fonts d-->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
		type="text/css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- JAVASCRIPT LINKS -->
	<!-- jQuery -->
	<script src="js/jquery.js"></script>
	<!-- Bootstrap Core JavaScript Local -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Morris Charts JavaScript -->
	<script src="js/plugins/morris/raphael.min.js"></script>
	<script src="js/plugins/morris/morris.min.js"></script>
	<script src="js/plugins/morris/morris-data.js"></script>
	<!-- Bootstrap Core JavaScript Remote -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
</th:block>
</head>
<body>


</body>

</html>

