<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	th:href="'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/spacelab/bootstrap.min.css'" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.css" />
<link rel="stylesheet" href="	" />
</head>
<body>
	<div id="toolbar">
		<button id="remove" class="btn btn-danger" disabled="disabled">
			<i class="glyphicon glyphicon-remove"></i> Delete
		</button>
	</div>

	<table id="table" data-toggle="table" data-toolbar="#toolbar"
		data-search="true" data-show-refresh="true" data-show-toggle="true"
		data-show-columns="true" data-show-export="true"
		data-detail-view="true" data-detail-formatter="detailFormatter"
		data-minimum-count-columns="2" data-show-pagination-switch="true"
		data-pagination="true" data-id-field="id"
		data-page-list="[10, 25, 50, 100, ALL]" data-url="apijson/table"
		data-sort-name="id" data-sort-order="desc">
		<!--  id="table2" data-toolbar="#toolbar" data-search="true"
		data-show-refresh="true" data-show-toggle="true"
		data-show-columns="true" data-show-export="true"
		data-pagination="true" data-id-field="id" data-url="apijson/table"
		data-page-list="[10, 25, 50, 100, ALL]">-->

		<thead>
			<!-- ADD data-fields -->
			<tr>
				<th data-field="id" data-sortable="true">Item ID</th>
				<th data-field="name" data-sortable="true">Item Name</th>
				<th data-field="price" data-sortable="true">Item Price</th>
			</tr>
		</thead>
	</table>
	<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
	<script src="/js/jquery.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.js"></script>
	<!-- SCRIPTS FOR TABLE -->
	<script>
/* 		var table = $('#table3')
		var remove = $('#remove')
		$('#table3')
				.bootstrapTable(
						{
							columns : [
									{
										field : 'id',
										title : 'Item2 ID',
										align : 'center',
										sortable : true
									},
									{
										field : 'name',
										title : 'Item Name',
										sortable : true,
										editable : true,
										footerFormatter : totalNameFormatter,
										align : 'center'
									},
									{
										field : 'price',
										title : 'Item Price',
										editable : {
											type : 'text',
											title : 'Item Price',
											validate : function(value) {
												value = $.trim(value);
												if (!value) {
													return 'This field is required';
												}
												if (!/^$/.test(value)) {
													return 'This field needs to start width $.'
												}
												var data = $('#table2')
														.bootstrapTable(
																'getData'), index = $(
														this).parents('tr')
														.data('index');
												console.log(data[index]);
												return '';
											}
										},
										footerFormatter : totalPriceFormatter
									} ]
						});
		setTimeout(function() {
			$('#table').bootstrapTable('resetView');
		}, 200);

		$('#remove').click(function() {
			var ids = getIdSelections();
			$('#table').bootstrapTable('remove', {
				field : 'id',
				values : ids
			});
			$('#remove').prop('disabled', true);
		});
	 */
		function detailFormatter(index, row) {
			var html = [];
			$.each(row, function(key, value) {
				html.push('<p><b>' + key + ':</b> ' + value + '</p>');
			});
			return html.join('');
		}
		$(window).resize(function() {
			$('#table').bootstrapTable('resetView', {
				height : getHeight()
			});
		});

		function responseHandler(res) {
			$.each(res.rows, function(i, row) {
				row.state = $.inArray(row.id, selections) !== -1;
			});
			return res;
		}
		
		function operateFormatter(value, row, index) {
			return [
					'<a class="like" href="javascript:void(0)" title="Like">',
					'<i class="glyphicon glyphicon-heart"></i>',
					'</a>  ',
					'<a class="remove" href="javascript:void(0)" title="Remove">',
					'<i class="glyphicon glyphicon-remove"></i>', '</a>' ]
					.join('');
		}
		function totalTextFormatter(data) {
			return 'Total';
		}
		function totalNameFormatter(data) {
			return data.length;
		}
		function totalPriceFormatter(data) {
			var total = 0;
			$.each(data, function(i, row) {
				total += +(row.price.substring(1));
			});
			return '$' + total;
		}
		function getHeight() {
			return $(window).height() - $('h1').outerHeight(true);
		}
	</script>
</body>
</html>